  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #263238  inset !important;
    -webkit-text-fill-color: white !important;
}

