<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="DNSBL :: DNS Blacklist and Sender Score">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="assets/common.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css" media="screen,projection">
	<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
	<link rel="icon" href="assets/favicon.ico" type="image/x-icon">
	<title>DNSBL :: DNS Blacklist and Sender Score</title>
</head>
<body>

	<a href="https://github.com/agarzon/dnsbl"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

	<div class="container blue-grey darken-4 white-text">
		<h1 class="center hide-on-small-only">DNS Blacklist and Sender Score</h1>
		<div class="row">
			<form >
				<div class="row">
					<div class="input-field col s4 offset-s2">
						<input id="host" type="text" class="validate">
						<label class="active" for="host">Enter IP or domain</label>
					</div>
					<div class="input-field col s6">
						<button class="btn waves-effect waves-light" type="submit" name="action">Check Now
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="container">
		<ul class="collection">
			<li class="collection-item avatar">
				<i class="material-icons circle gray">email</i>
				<span class="title">SenderScore:</span>
				<a class="btn-large disabled" id="score"></a>
				<div class="right">IP: <span id="resolvedIp"></span></div>
			</li>
		</ul>
		<hr>
	</div>

	<div class="container" id="loadingbar" style="display: none;">
		<div class="progress">
			<div class="indeterminate"></div>
		</div>
	</div>

	<main>
		<div class="container hide" id="results-container">
			<table class="bordered striped highlight centered responsive-table">
				<thead>
					<tr>
						<th data-field="dnsbl">DNSBL</th>
						<th data-field="status">STATUS</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</main>


	<footer class="page-footer blue">
		<div class="footer-copyright">
			<div class="container">
				Created by Alexander Garzon for <a class="orange-text text-lighten-3" href="http://www.venehosting.com" target="_blank">VeneHosting.com</a>
				Powered by: SlimPHP 3, Materialize, jQuery
			</div>
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
	<script src="assets/common.js"></script>
</body>
</html>
